<main>
    Доброго дня,
    <%= nickname %>. Для восстановления пароля пререйдите по
        <a href=http://localhost:5000/?token=<%=recoveryToken %>&2fa=<%=twoFactorEnabled %>>
            ссылке.
        </a>
</main>